<header class="header-edit">
  <div class="container">
    <h2 class="info-line">Place holder</h2>
    <div class="options">
      <%= link_to "Discard", root_path, class: "btn btn-secondery" %>
      <%= link_to "Save", update_all_path, class: "btn btn-primary" %>
    </div>
  </div>
</header>